//============================================================
// Global Variables
//============================================================

@width: 450px;
@height: 600px;

//============================================================
// CSS
//============================================================

body {
  margin: 0;
  padding: 50px;
}

.container {
  width: @width;
  height: @height;
  margin: 0 auto;
  background-color: red;
}
